body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    grid-template-areas: "sidebar main";
    overflow: hidden;

    cursor: default;
}

.sidebar {
    background-color: #222222;
    position: fixed;
    overflow: hidden;
    color: white;
    padding: 25px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    grid-area: sidebar;
    z-index: 1;
}

.sidebar img {
    width: 4.5rem;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.sidebar img.sidebar-photo{
    margin: 0; 
    width: 100%; 
    height: 100%;
    border-radius: 0;
    opacity: 0.6;
}



.sidebar h1 {
    color: #ffffff;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 50px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

    font-size: 1.2rem;
}

.sidebar ul li a:hover {
    background-color: #ff5733;
}

.main_content {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 0.8fr;
    gap: 20px;
    grid-area: main;
    height: 100%;
    overflow: hidden;
}

.main_content h2 {
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.card1, .card2 {
    background-color: #f0f0f0; /* Slightly darker background for contrast */
    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1); /* Inset shadow for embedded look */
    overflow: auto;
    border: 1px solid #e0e0e0; /* Optional subtle border */
}

.card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dropdown {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.step2 a{
    text-decoration: none;
    color: #4271c1;
}

.step3 a {
    text-decoration: none;
    color: #4271c1;
}

.card1 .step1 button {
    margin-right: 10px;
    padding: 5px 20px;
    background-color: #dd524d;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

.card1 .step1 button:hover {
    opacity: 0.8;
}

.card1 div {
    background-color: #f8f9fa;
    padding: 13px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card2 label {
    display: block;
    margin: 10px 0 5px;
}

.card2 input {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card2 .buttons {
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-content: center;
}

.card2 .buttons button {
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px 20px;
    background-color: #dd524d;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    
}

.card2 .buttons button:hover {
    opacity: 0.8s;
}

button {
    cursor: pointer;
}

.is-invalid {
    border-color: red;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "main" "sidebar";
    }
    .main_content {
        grid-template-columns: 1fr;
    }
}